# -----------------------------------------------------------------------------
# App URL Configuration
# -----------------------------------------------------------------------------
VITE_FRONTEND_URL=

# -----------------------------------------------------------------------------
# API Configuration
# -----------------------------------------------------------------------------
# Base URL of the backend API
VITE_BACKEND_URL=
